POSTGRES_DB=taskboard
POSTGRES_USER=taskboard
POSTGRES_PASSWORD=taskboard
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=dev-secret-change-me
DEBUG=true
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_NAME=Tasks
AIRTABLE_EXPORTER_URL=http://localhost:3001
